{# Imagem #}
<div class="form-horizontal form-label-left">
    <div class="form-group {{ form.image.vars.required ? 'item' : '' }}">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.image.vars.id }}">
            {{ form.image.vars.required ? '<span class="required">*</span>' : '' }}
        </label>
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% set imageCrop = {
            'fileTrigger': '#admin_commonbundle_vitrine_image_file'} %}
            {{ include('@AdminImage/Elements/image_crop.html.twig',imageCrop) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <p class="label label-primary">{{ 'title.messages.image.largura.altura'|trans({'%largura%':'1400','%altura%':'621'}, 'messagesCommonBundle') }}</p>
    </div>
</div>
{# Imagem #}