<div class="x_panel">
    <div class="x_title">
        <h2>{{ 'txt.descricao'|transchoice(0,{}, 'messagesCommonBundle') }}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="form-horizontal form-label-left">
                {% for texto in form.textos %}
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-show="slugDiv">
                        <div class="form-group {{ texto.nome.vars.required ? 'item' : '' }}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ texto.nome.vars.id }}">
                                {{ texto.nome.vars.label|transchoice(0,{}, 'messagesCommonBundle') }}
                                {{ texto.nome.vars.required ? '<span class="required">*</span>' : '' }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <span class="fa fa-align-left form-control-feedback left" aria-hidden="true"></span>
                                {{ form_row(texto.nome, { 'label': false }) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-show="slugDiv">
                        <div class="form-group {{ texto.slug.vars.required ? 'item' : '' }}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ texto.slug.vars.id }}">
                                {{ texto.slug.vars.label|transchoice(0,{}, 'messagesCommonBundle') }}
                                {{ texto.slug.vars.required ? '<span class="required">*</span>' : '' }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <span class="fa fa-link form-control-feedback left" aria-hidden="true"></span>
                                {{ form_row(texto.slug, { 'label': false }) }}
                                <span class="label label-info label-info-admin">
                                    {{ 'title.message.slug'|transchoice(0,{}, 'messagesPaginaBundle') }}
                                </span>
                                <span class="fa fa-question red padding-left-7 cursor-pointer" data-toggle="modal" data-target=".modal-duvida-slug"></span>
                                <span class="label label-danger label-info-admin" ng-show="slugDuplicado">
                                    {[{ messageSlugDuplicado }]}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group text-center" ng-show="slugDivLoad" >
                        <div class="col-md-3 col-sm-3 col-xs-12"></div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h4>
                                {{ 'title.slug.aguarde'|transchoice(0,{}, 'messagesCommonBundle') }}
                            </h4>
                            <p>{{ 'title.aguarde'|transchoice(0,{}, 'messagesCommonBundle') }}</p>
                            <div class="loader" style="display: block;"></div>
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group {{ form.status.vars.required ? 'item' : '' }}">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.status.vars.id }}">{{ form.status.vars.label|transchoice(0,{}, 'messagesCommonBundle') }}
                        {{ form.status.vars.required ? '<span class="required">*</span>' : '' }}
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12 form-group-status">
                        {{ form_row(form.status, { 'label': false }) }}
                    </div>
                    <br clear="all" />
                </div>
            </div>
        </div>
    </div>
</div>