{% extends 'AdminCommonBundle::layout_new.html.twig' %}

{% block title %}
    {{ configuracao.valor("titulo.site.resumido") }} -
    {{ 'title.cadastrar'|transchoice(0,{}, 'messagesCommonBundle') }}
    {{ 'txt.estado'|transchoice(0,{}, 'messagesEnderecoBundle') }}
{% endblock %}

{% block body -%}

    <div class="page-title">
        <div class="title_left">
            <h3>
                {{ 'txt.novo'|transchoice(0,{}, 'messagesCommonBundle') }} {{ 'txt.estado'|transchoice(0,{}, 'messagesEnderecoBundle') }}
            </h3>
        </div>
        <div class="title_right">
            <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
                <span class="label label-danger label-info-admin cursor-pointer" data-toggle="modal" data-target=".modal-duvida-estado-new">
                    {{ 'title.modulo.oque.faz'|transchoice(0,{}, 'messagesCommonBundle') }}
                    <i class="fa fa-question padding-left-7 padding-right-7"> </i>
                </span>
            </div>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ 'txt.novo'|transchoice(0,{}, 'messagesCommonBundle') }} {{ 'txt.estado'|transchoice(0,{}, 'messagesEnderecoBundle') }}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ include('@AdminEndereco/Elements/Estado/New/bloco_dados.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    {{ include('@AdminEndereco/Elements/Estado/New/bloco_action.html.twig') }}
    {{ form_end(form) }}
    {#Fim do form#}

    {% set modalEstado = {
    'title': 'title.estado.cadastrar',
    'descricao': 'title.modal.descricao.estado.new',
    'modal': 'modal-duvida-estado-new',
    'iconTitle':'fa-info-circle',
    'bundle':'messagesEnderecoBundle'} %}
    {{ include('@AdminCommon/Elements/modal/modal_g.html.twig', modalEstado) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AdminEnderecoBundle/Resources/public/js/script.js'
    combine=true
    filter='uglifyjs2'
    output='js/cms/estado/estado_new.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
