{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Galeria</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Entity</th>
                <td>{{ entity.entity }}</td>
            </tr>
            <tr>
                <th>Identity</th>
                <td>{{ entity.idEntity }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('galeria') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('galeria_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
