<div class="form-horizontal form-label-left">
    <div class="form-group item">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> {{ form.sigla.vars.label|transchoice(0,{}, 'messagesCommonBundle') }}
            {{ form.sigla.vars.required ? '<span class="required">*</span>' : '' }}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <span class="fa fa-flag form-control-feedback left" aria-hidden="true"></span>
            {{ form_row(form.sigla, { 'label': false }) }}
        </div>
    </div>
    <div class="form-group item">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form.descricao.vars.label|transchoice(0,{}, 'messagesCommonBundle') }}
            {{ form.sigla.vars.required ? '<span class="required">*</span>' : '' }}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <span class="fa fa-align-left form-control-feedback left" aria-hidden="true"></span>
            {{ form_row(form.descricao, { 'label': false }) }}
        </div>
    </div>
</div>